#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/* 
.hidden {
  display: none;
} */

body {
  margin: 0;
}

/* LOADER_ELLIPS */
.loader-ellips {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #545454;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
/* LOADER_ELLIPS */

/* BUTTON  goToTop */
#goToTop {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  padding: 6px 6px;
  box-sizing: content-box;
  background-color: #ff6b08;
  font-size: 16px;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1000;
  display: none;
}

.goToTopdisplay {
  animation: showGoToTop 0.4s ease-in 1;
}

.goToTophide {
  animation: showGoToTop 0.4s ease-in 1 reverse;
}

@keyframes showGoToTop {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* button  goToTop */
/* SVG for goToTop */
.arrow-up {
  display: block;
  fill: white;
  width: 10px;
  height: 10px;
}
/* svg for goToTop */

/*       TEAM  PROECT      */
/* footer */

.section-footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .section-footer {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .section-footer {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.page-footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
  }
}

.footer-btn {
  border: none;
  background-color: #f7f7f7;
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #545454;
}

.footer-link:hover,
.footer-link:focus {
  color: #ff6b08;
}

.team {
  padding-left: 0;
}

.team-title {
  color: #ffffff;
}

.team-list {
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
  color: #ff6b08;
}

/* PAGINATION */
/* .button-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.pagination {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;

  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.pagination-side {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border: none;
  border-radius: 5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.pagination-current {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-color: #ff6b08;
  color: #ffffff;
}

.icon-arrow {
  width: 16px;
  height: 16px;
} */
